<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reparacionesutn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.reparacionesutn.layouts.MainActivity"
            android:label="@string/app_name"
             android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_ingresar"
            android:label="Ingresar Reparación" 
             android:screenOrientation="portrait"> </activity>
        
            <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_buscar"
            android:label="Buscar Reparación"
             android:screenOrientation="portrait"
             ></activity>
           <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_VerReparaciones"
            android:label="Registro de Reparaciones"
             android:screenOrientation="portrait"></activity>
          <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_tablas"
            android:label="Ver Reparaciones"
             android:screenOrientation="portrait"></activity>
          <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_fallas"
            android:label="Editar Reparaciones"
             android:screenOrientation="portrait"></activity>
           <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_Modificar_Spinners"
            android:label="Editar Modelos"
             android:screenOrientation="portrait"></activity>
            <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_versiones"
            android:label="Editar Versiones"
             android:screenOrientation="portrait"></activity>  
              <activity 
            android:name="com.example.reparacionesutn.layouts.lay_reparacion"
            android:label="Reparación"
             android:screenOrientation="portrait"></activity>  
    </application>
	
</manifest>
