<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reparacionesutn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.reparacionesutn.layouts.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_ingresar"
            android:label="Ingresar Reparación" > </activity>
        
            <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_buscar"
            android:label="Buscar Equipo"></activity>
           <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_VerReparaciones"
            android:label="Buscar Equipo"></activity>
          <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_tablas"
            android:label="Ver Tablas"></activity>
          <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_fallas"
            android:label="Modificar Fallas"></activity>
           <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_Modificar_Spinners"
            android:label="Modificar Modelos"></activity>
            <activity 
            android:name="com.example.reparacionesutn.layouts.Lay_versiones"
            android:label="Modificar Versiones"></activity>  
    </application>

</manifest>
